---
import Heading from '@/components/Heading.astro';
import type { LanguageCode } from '@/i18n/ui';
import ProfileImage from '@/assets/FelipeBetancur.jpeg';
import { Image } from 'astro:assets';
import Prose from '@/components/Prose.astro';

interface Props {
  lang: LanguageCode;
  mainHeadingTitle: string;
  mainHeadingDescription: string;
  Content: any;
}

const { lang, mainHeadingTitle, mainHeadingDescription, Content } = Astro.props;
---

<section class="py-12 md:py-16 flex flex-col items-center justify-center">
  <!-- Solo el título, sin descripción -->
  <Heading
    title={mainHeadingTitle}
    description={mainHeadingDescription}
    showDivider={false}
    className="flex flex-col items-center justify-center"
    titleClassName="md:text-4xl"
  />
  
  <!-- Imagen después del título -->
  <Image src={ProfileImage} alt="Profile Picture" class="w-32 h-32 rounded-full object-cover my-8" />
  
  <div class="max-w-prose text-gray-700 dark:text-gray-300 px-4">
    <Prose class="text-base">
      <Content />
    </Prose>
  </div>
</section>